@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg-background: #111827;
  --clr-card: #1f2937;
  --clr-1: #6420aa;
  --clr-2: #ff3ea5;
  --clr-3: #ff7ed4;
}

* {
  box-sizing: border-box;
}

html,
body,
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  touch-action: none;
}

body {
  background: #020202;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

footer {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.footer-buttons {
  display: flex;
  gap: 1rem;
}

footer button {
  color: white;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 0.45rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 300;
  pointer-events: all;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: var(--clr-card);
  transition: all 0.3s ease;
}

footer button:hover {
  background: rgb(65, 60, 79);
  color: white;
}

footer button:hover:after {
  transform: scale(1.5);
  filter: blur(2rem);
  transition: all 0.3s ease;
}

/* Mobile */
@media (max-width: 768px) {
  .footer-buttons {
    gap: 0.5rem;
  }
  footer {
    height: 150px;
  }
  footer button {
    padding: 0.9rem 1.3rem;
    font-size: 0.5rem;
  }
}
